In [2]:
import pandas as pd

### Green Mark Buildings

In [3]:
y20 = pd.read_csv("./data/listing-of-building-energy-performance-data-2020.csv")
y19 = pd.read_excel("./data/listing-of-building-energy-performance-data-2019.xlsx")
y1718 = pd.read_csv("./data/listing-of-building-energy-performance-data-for-commercial-buildings.csv")

In [4]:
y20 = y20[~y20["greenmarkyearofaward"].isna()]
y20 = y20[["buildingaddress","buildingsize","greenmarkrating","2020"]]

In [5]:

y20.isna().sum() # only buildingsize column got na
y20.isnull().sum() # same
y20.dropna(inplace=True) # removed

In [6]:
y20["year"]=2020
y20

,buildingaddress,buildingsize,greenmarkrating,2020,year
2,"137 MARKET STREET, SINGAPORE 048943",Small,GoldPlus,115.42,2020
5,"1 HARBOURFRONT WALK, SINGAPORE 098585",Large,Platinum,394.04,2020
7,"144 UPPER BUKIT TIMAH ROAD, SINGAPORE 588177",Large,GoldPlus,124.20,2020
8,"140 HILL STREET, SINGAPORE 179369",Large,Platinum,130.40,2020
9,"1500 BENDEMEER ROAD, SINGAPORE 339946",Large,Platinum,145.51,2020
...,...,...,...,...,...
557,"401 MACPHERSON ROAD, SINGAPORE 368125",Small,Legislated,191.18,2020
558,"11 TANJONG KATONG ROAD, SINGAPORE 437157",Large,Gold,360.79,2020
559,"277 ORCHARD ROAD, SINGAPORE 238858",Large,Platinum,302.62,2020
560,"109 NORTH BRIDGE ROAD, SINGAPORE 179097",Large,GoldPlus,365.25,2020
562,"2 VENTURE DRIVE, SINGAPORE 608526",Large,GoldPlus,121.20,2020

In [7]:
y20.rename(columns={"2020":"EUI"},inplace=True)
y20

,buildingaddress,buildingsize,greenmarkrating,EUI,year
2,"137 MARKET STREET, SINGAPORE 048943",Small,GoldPlus,115.42,2020
5,"1 HARBOURFRONT WALK, SINGAPORE 098585",Large,Platinum,394.04,2020
7,"144 UPPER BUKIT TIMAH ROAD, SINGAPORE 588177",Large,GoldPlus,124.20,2020
8,"140 HILL STREET, SINGAPORE 179369",Large,Platinum,130.40,2020
9,"1500 BENDEMEER ROAD, SINGAPORE 339946",Large,Platinum,145.51,2020
...,...,...,...,...,...
557,"401 MACPHERSON ROAD, SINGAPORE 368125",Small,Legislated,191.18,2020
558,"11 TANJONG KATONG ROAD, SINGAPORE 437157",Large,Gold,360.79,2020
559,"277 ORCHARD ROAD, SINGAPORE 238858",Large,Platinum,302.62,2020
560,"109 NORTH BRIDGE ROAD, SINGAPORE 179097",Large,GoldPlus,365.25,2020
562,"2 VENTURE DRIVE, SINGAPORE 608526",Large,GoldPlus,121.20,2020

In [ ]:
y19.isna().sum() # only buildingsize column got na
y19.isnull().sum() # same
y19 = y19[~y19["greenmarkyearaward"].isna()]
y19 = y19[["buildingaddress","buildingsize","greenmarkrating","2019energyusintensity"]]

In [ ]:
y19.isnull().sum() # same 62 in one column
y19.shape # 333 rows
# cant just remove all nul columns
y19 # no size will be assigned "Unknown" value
y19['buildingsize'].fillna("Uknown",inplace=True)

In [ ]:
y19.isnull().sum() # no more null
y19["year"]=2019
y19

In [ ]:
y19.rename(columns={"2019energyusintensity":"EUI"},inplace=True)
y19

In [ ]:
y1718.isnull().sum()
y17 = y1718[(y1718['greenmarkyearaward'] != 2018) & (y1718['greenmarkstatus'] == 'Yes')]
y18 = y1718[(y1718['greenmarkstatus'] == 'Yes')]
y17.isnull().sum()

In [ ]:
y17[y17[['buildingname', 'buildingaddress']].isna().all(axis=1)] # too many null, i wont use this data

In [ ]:
merged_df = pd.concat([y20, y19], axis=0)
merged_df # now i have to check for address column that doesnt have the correct format

In [ ]:

postals = []
def extract(yes):
    if(len(yes)>6):
        extracted  = yes[-6:]
        try:
            postals.append((extracted))
        except:
            postals.append("N/A")
    else:
        extracted = "N/A"

merged_df["buildingaddress"].apply(extract)
merged_df["postal"] = postals
merged_df.isna().sum()

In [ ]:
merged_df["postal"]=merged_df["postal"].astype(int)
merged_df

In [ ]:
# add latitude longitude to it
mapper = pd.read_csv("./data/sg_zipcode_mapper.csv",encoding='ISO-8859-1') # weird encdoing but i figured out
mapper

In [ ]:
final_merge = pd.merge(merged_df, mapper[["postal","latitude","longtitude"]],on="postal")
final_merge.to_csv("./wrangled/greenBuildings.csv")

### Manufacturing Output

In [ ]:
# i downloaded the csv and converted it into sql that i ran on my databse
# now i will show how i get data from a database

from sqlalchemy import create_engine

engine = create_engine("mysql+mysqlconnector://bed_dvd_root:pa$$woRD123@localhost:3306/pdas")

df = pd.read_sql("select year, level_2, value from mytable",engine)
df

In [ ]:
df.isna().sum() #clean data
df.to_csv("./wrangled/manufacturing.csv",index=False)

### Pollution Data

In [ ]:
import requests
resources = ["https://data.gov.sg/api/action/datastore_search?resource_id=9c28a8fa-9f14-4985-aadc-cff5a49c496a",
             "https://data.gov.sg/api/action/datastore_search?resource_id=1bdc3a3e-27bd-4b5b-b13a-2e36528fb785",
             "https://data.gov.sg/api/action/datastore_search?resource_id=f8060108-f102-41e2-be12-fe264a34bba4",
             "https://data.gov.sg/api/action/datastore_search?resource_id=b1f52bb9-6d74-42b6-aae9-60e15a6b725f"]
data = []
for i in resources:
        try:
                response = requests.get(i).json()
                # Extract the columns and records
                columns = [field['id'] for field in response['result']['fields']]
                records = response['result']['records']
                data.append(pd.DataFrame(records, columns=columns))
        except:
                data.append("not found")
# Create the dataframe
data

In [ ]:
merged = data[3]
data.pop()
for i in data:
    merged = pd.merge(merged,i,on="year")
merged

In [ ]:
merged = merged[["year","sulphur_dioxide_mean","co_max_8hour_mean","ozone_maximum_8hour_mean","nitrogen_dioxide_mean"]]
merged

In [ ]:
merged.to_csv("./wrangled/pollution.csv",index=False)

### Sunshine and Rainfall

In [ ]:
sun = pd.read_csv("./data/sunshine-duration-monthly-mean-daily-duration.csv")
rain = pd.read_csv("./data/rainfall-monthly-total.csv")

In [ ]:
sun.isna().sum() # nothing
rain.isna().sum() # nothing

In [ ]:
new_merge = pd.merge(sun,rain,on="month")
new_merge.to_csv("./wrangled/sunAndRain.csv")